@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    string sectionTitle = Model.Value<string>("G3Title")?? "";
    var tab1Images = Model.Value<IEnumerable<MediaWithCrops>>("G3tab1Images");
    var tab2Images = Model.Value<IEnumerable<MediaWithCrops>>("G3tab2Images");
    string tab1Title = Model.Value<string>("G3tab1Title")?? "";
    string tab2Title = Model.Value<string>("G3tab2Title")?? "";
    bool addTodos = Model.Value<bool>("G3todos");
    tab1Title = changeText(tab1Title,"Pestaña 1");
    tab2Title = changeText(tab2Title,"Pestaña 2");
    IEnumerable<MediaWithCrops>[] images = {tab1Images,tab2Images};
    
    static string changeText(string text, string defaultText){
        if(string.IsNullOrEmpty(text)){
            text = defaultText;
        }
        return text;
    }


    if(tab1Images!=null && tab2Images!=null){
        <section id="parte7" class="carousel-full carousel-center bg-gris">
            <div class="link"></div>
            <div class="cont-tit">
                @if(!string.IsNullOrEmpty(sectionTitle)){
                    <p class="epig">@sectionTitle</p>
                }
                <div class="tab-buttons">
                    
                    @if(addTodos){
                    <a href="javascript:void(0)" data-tab="tab0" class="b-nav-tab active">TODO</a>
                    }
                    <a href="javascript:void(0)" data-tab="tab1" class="b-nav-tab @(addTodos ==true ? "":"active")">
                        @tab1Title
                    </a>
                    <a href="javascript:void(0)" data-tab="tab2" class="b-nav-tab">
                        @tab2Title
                    </a>
                </div>
            </div>
            @if(addTodos){
                <div id="tab0" class="b-tab active">
                    <!-- slider -->
                    <div class="swiper-container swiper-auto">
                        <div class="swiper-wrapper">
                            @{
                                if (tab1Images!=null){
                                    foreach (var image in tab1Images)
                                    {
                                        <!-- slide -->
                                        <div class="swiper-slide box-hero">
                                            <div class="img-wrap">
                                                <img class="desktop" src="@image.MediaUrl()"
                                                    alt="@image.Name">
                                                
                                                <img class="mobile" src="@image.MediaUrl()"
                                                    alt="@image.Name">
                                            </div>
                                        </div>
                                    }
                                }
                                if (tab2Images!=null){
                                    foreach (var image in tab2Images)
                                    {
                                        <!-- slide -->
                                        <div class="swiper-slide box-hero">
                                            <div class="img-wrap">
                                                <img class="desktop" src="@image.MediaUrl()"
                                                    alt="@image.Name">
                                                
                                                <img class="mobile" src="@image.MediaUrl()"
                                                    alt="@image.Name">
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-next-auto"></div>
                        <div class="swiper-button-prev swiper-button-prev-auto"></div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination-auto"></div>
                    </div>
                </div>
            }
            
            @{
                
                for(int i = 0;i<2;i++){
                    string tab = "tab"+(i+1);
                    <div id="@tab" class="b-tab @(i==0 && addTodos ==false ? "active":null)">
                        <!-- slider -->
                        <div class="swiper-container swiper-auto">
                            <div class="swiper-wrapper">
                                @{
                                    foreach (var image in images[i])
                                    {
                                        <!-- slide -->
                                        <div class="swiper-slide box-hero">
                                            <div class="img-wrap">
                                                <img class="desktop" src="@image.MediaUrl()"
                                                    alt="@image.Name">                                                
                                                <img class="mobile" src="@image.GetCropUrl(width:320,height:400)"
                                                    alt="@image.Name">
                                            </div>
                                        </div>                                

                                        }
                                }
                                
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-next-auto"></div>
                            <div class="swiper-button-prev swiper-button-prev-auto"></div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination-auto"></div>
                        </div>
                    </div>                
                }
            }
        </section>

    }
}