@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    var content = (ContentModels.Banner)Model.Content;
    //var settings = (ContentModels.bannerSettings)Model.Settings;
}
<script>
    sections.push('banner');
</script>
<section id="banner" class="">
    <div class="link"></div>
    <div class="container_banner">
        <figure class="hero__img-wrap">
            @{
                var image = content.Value<MediaWithCrops>("image");
                if(image!=null)
                {
                    <img class="img-car" src="@image.MediaUrl()" alt="@image.Name">
                    <img class="img_mobile" src="@image.GetCropUrl("mobile")" alt="@image.Name">
                }
            }
            
        </figure>
        <div class="degradado_lateral"></div>
        <div class="auxi">
            <div class="hero__content">
                <div class="tit">
                    <h1 class="hero__tit">@content.Value("title")</h1>
                    
                </div>
                <div class="hero__wrap">
                    <div class="hero__txt">
                        <p class="hero__baj">
                            
                            <span class="bold">@content.Value("paragraph1")</span>
                            
                        </p>
                        <p class="hero__pref">@content.Value("paragraph2")</p>    
                            <p class="hero__number">$77.990</p>
                        
                        
                    </div>
                    
                </div>
                <div id="buttons" class="cont-btn">
                    
                    @{
                        var links = content.Value<IEnumerable<Link>>("link1");
                        if (links.Any()){
                            var index = 1;
                            @foreach (var link in links){   
                                <a href="@link.Url" class="btn-main @(index==1 ? "btn-lightblue":"")" target="@link.Target">@link.Name</a>
                                index+=1;
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>